.footer{
    background-color: rgb(191, 30, 46);
    display: flex;
    align-items: center;
    padding: 1em 4em 6em 6em;
    box-shadow: 0px 2px 6px rgb(218, 218, 218);
    justify-content: space-between;
}

.footerBoks1{
    color: white;
}

.footerBoks1 > h1{
    font-family: Oswald;
    text-transform: uppercase;
}

.footerBoks1 > a{
    color: white;
    text-decoration: none;
    margin-right: 1.6em;
    font-weight: 600;
}

